@use "sass:map";

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.
@use "_custom-palette" as palette;

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.elevation-classes();
@include mat.app-background();


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$custom-primary: mat.m2-define-palette(palette.$primary-palette);
$custom-accent: mat.m2-define-palette(palette.$accent-palette);
$custom-warn: mat.m2-define-palette(palette.$error-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$custom-theme: mat.m2-define-light-theme((color: (primary: $custom-primary,
        accent: $custom-accent,
        warn: $custom-warn,
      ),
      typography: mat.m2-define-typography-config(),
      density: 0,
    ));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($custom-theme);

// @tailwind base;
// @tailwind components;
// @tailwind utilities;


@font-face {
  font-family: 'TH SarabunPSK';
  src: url('https://fonts.servicemind.asia/other-fonts/th-sarabun-psk/THSarabun.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Define the italic version of the font */
@font-face {
  font-family: 'TH SarabunPSK';
  src: url('https://fonts.servicemind.asia/other-fonts/th-sarabun-psk/THSarabun-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

/* Define the bold version of the font */
@font-face {
  font-family: 'TH SarabunPSK';
  src: url('https://fonts.servicemind.asia/other-fonts/th-sarabun-psk/THSarabun-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* Define the bold and italic version of the font */
@font-face {
  font-family: 'TH SarabunPSK';
  src: url('https://fonts.servicemind.asia/other-fonts/th-sarabun-psk/THSarabun-Bold-Italic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}


html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  --font-family: Roboto, "Helvetica Neue", sans-serif;
  --angular-bg: #CEE0F8;
  --angular-primary-dark: #{map.get(palette.$primary-palette, 900)};
  --angular-primary: #{map.get(palette.$primary-palette, 500)};
  --angular-primary-light: #{map.get(palette.$primary-palette, 200)};
  --angular-accent-dark: #{map.get(palette.$accent-palette, 900)};
  --angular-accent: #{map.get(palette.$accent-palette, 500)};
  --angular-accent-light: #{map.get(palette.$accent-palette, 200)};
  --angular-error-dark: #{map.get(palette.$error-palette, 900)};
  --angular-error: #{map.get(palette.$error-palette, 500)};
  --angular-error-light: #{map.get(palette.$error-palette, 200)};
  --angular-secondary-dark: #{map.get(palette.$secondary-palette, 900)};
  --angular-secondary: #{map.get(palette.$secondary-palette, 500)};
  --angular-secondary-light: #{map.get(palette.$secondary-palette, 200)};
  --angular-success-dark: #{map.get(palette.$success-palette, 900)};
  --angular-success: #{map.get(palette.$success-palette, 500)};
  --angular-success-light: #{map.get(palette.$success-palette, 200)};
  --angular-info-dark: #{map.get(palette.$info-palette, 900)};
  --angular-info: #{map.get(palette.$info-palette, 500)};
  --angular-info-light: #{map.get(palette.$info-palette, 200)};
  --angular-warning-dark: #{map.get(palette.$warning-palette, 900)};
  --angular-warning: #{map.get(palette.$warning-palette, 500)};
  --angular-warning-light: #{map.get(palette.$warning-palette, 200)};
  --angular-danger-dark: #{map.get(palette.$danger-palette, 900)};
  --angular-danger: #{map.get(palette.$danger-palette, 500)};
  --angular-danger-light: #{map.get(palette.$danger-palette, 200)};
  --angular-dark: #{map.get(palette.$dark-palette, 500)};
  --angular-light: #{map.get(palette.$light-palette, 500)};
  --angular-light-2: #{map.get(palette.$light-palette, 200)};
  --angular-light-dark: #{map.get(palette.$light-palette, 900)};
  --angular-text-color: #{palette.$default-text-color};
  --angular-icon-color: #{palette.$default-icon-color};
  --angular-sidebar-text-color: #{palette.$default-sidebar-text-color};
  --angular-border-width: 1px;
  --angular-download: #{map.get(palette.$primary-palette, 500)};
  --angular-cancel: #{map.get(palette.$danger-palette, 500)};
  --angular-item-selected: #{map.get(palette.$primary-palette, 500)};
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: currentColor;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: currentColor;
}

.angular-main-container {
  // padding: 15px;
  background: white;
  height: 100%;
}

.angular-alert {
  padding: 15px;
  border: 1px solid #9e9e9e;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 16px;
}

.angular-alert-primary {
  color: var(--angular-primary);
  border: 1px solid var(--angular-primary);
}

.angular-alert-gray {
  color: gray;
  border: 1px solid gray;
}

.angular-alert-accent {
  color: var(--angular-accent);
  border: 1px solid var(--angular-accent);
}

.angular-alert-secondary {
  color: var(--angular-secondary);
  border: 1px solid var(--angular-secondary);
}

.angular-alert-info {
  color: var(--angular-info);
  border: 1px solid var(--angular-info);
}

.angular-alert-warning {
  color: var(--angular-warning);
  border: 1px solid var(--angular-warning);
}

.angular-alert-success {
  color: var(--angular-success);
  border: 1px solid var(--angular-success);
}

.angular-alert-danger {
  color: var(--angular-danger);
  border: 1px solid var(--angular-danger);
}

.angular-graph {
  display: flex;
  flex-wrap: wrap;
  list-style: none;

  .angular-graph-item {
    cursor: pointer;
  }
}

.angular-graph-item+.angular-graph-item {
  padding: 0px;
}

.angular-graph-item+.angular-graph-item::before {
  float: left;
  padding: 0px 10px;
  color: #BDBDBD;
  content: "→";
  font-size: 40px;
  line-height: 22px;
}

.angular-graph-item.active {
  color: #9e9e9e;

  :hover {
    text-decoration: unset;
  }
}

.angular-icon-btn-sm {
  margin-top: 7px !important;
  padding: 5px !important;
  height: 36px !important;
  width: 36px !important;
}

.angular-btn-primary:not(:disabled) {
  color: var(--angular-primary) !important;

  &:hover {
    .mat-mdc-button-persistent-ripple::before {
      background-color: var(--angular-primary);
    }
  }
}

.angular-btn-accent:not(:disabled) {
  color: var(--angular-accent) !important;

  &:hover {
    .mat-mdc-button-persistent-ripple::before {
      background-color: var(--angular-accent);
    }
  }
}

.angular-btn-secondary:not(:disabled) {
  color: var(--angular-secondary) !important;

  &:hover {
    .mat-mdc-button-persistent-ripple::before {
      background-color: var(--angular-secondary);
    }
  }
}

.angular-btn-info:not(:disabled) {
  color: var(--angular-info) !important;

  &:hover {
    .mat-mdc-button-persistent-ripple::before {
      background-color: var(--angular-info);
    }
  }
}

.angular-btn-warning:not(:disabled) {
  color: var(--angular-warning) !important;

  &:hover {
    .mat-mdc-button-persistent-ripple::before {
      background-color: var(--angular-warning);
    }
  }
}

.angular-btn-success:not(:disabled) {
  color: var(--angular-success) !important;

  &:hover {
    .mat-mdc-button-persistent-ripple::before {
      background-color: var(--angular-success);
    }
  }
}

.angular-btn-filled-basic:not(:disabled) {
  background-color: #091E420F !important;
}

.angular-btn-filled-primary:not(:disabled) {
  color: white !important;
  background-color: var(--angular-primary) !important;
}

.angular-btn-filled-accent:not(:disabled) {
  color: white !important;
  background-color: var(--angular-accent) !important;
}

.angular-btn-filled-secondary:not(:disabled) {
  color: black !important;
  background-color: var(--angular-secondary) !important;
}

.angular-btn-filled-info:not(:disabled) {
  color: white !important;
  background-color: var(--angular-info) !important;
}

.angular-btn-filled-warning:not(:disabled) {
  color: white !important;
  background-color: var(--angular-warning) !important;
}

.angular-btn-filled-success:not(:disabled) {
  color: white !important;
  background-color: var(--angular-success) !important;
}

.angular-btn-filled-danger:not(:disabled) {
  color: white !important;
  background-color: var(--angular-danger) !important;
}

.angular-btn-toggle-primary {
  .mat-button-toggle-appearance-standard.mat-button-toggle-checked {
    color: white;
    background-color: var(--angular-primary);
  }
}

.angular-btn-toggle-accent {
  .mat-button-toggle-appearance-standard.mat-button-toggle-checked {
    color: white;
    background-color: var(--angular-accent);
  }
}

.angular-btn-toggle-secondary {
  .mat-button-toggle-appearance-standard.mat-button-toggle-checked {
    color: black;
    background-color: var(--angular-secondary);
  }
}

.angular-btn-toggle-info {
  .mat-button-toggle-appearance-standard.mat-button-toggle-checked {
    color: white;
    background-color: var(--angular-info);
  }
}

.angular-btn-toggle-warning {
  .mat-button-toggle-appearance-standard.mat-button-toggle-checked {
    color: white;
    background-color: var(--angular-warning);
  }
}

.angular-btn-toggle-success {
  .mat-button-toggle-appearance-standard.mat-button-toggle-checked {
    color: white;
    background-color: var(--angular-success);
  }
}

.angular-btn-toggle-danger {
  .mat-button-toggle-appearance-standard.mat-button-toggle-checked {
    color: white;
    background-color: var(--angular-danger);
  }
}

.angular-text-upper {
  text-transform: uppercase !important;
}

.angular-btn-group {
  display: inline-flex;
  padding: 0px;
  margin: 0px;

  .angular-btn-group-item {
    list-style: none;
    margin: 0px;
  }
}

.bg-white {
  background-color: white !important;
}

.angular-bg-light {
  background-color: var(--angular-light) !important;
}

.angular-bg-primary {
  background-color: var(--angular-primary) !important;
}

.angular-bg-primary-light {
  background-color: #{map.get(palette.$primary-palette, 50)};
}

.angular-btn-light {
  background-color: var(--angular-light) !important;
}

.angular-badge {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  color: #000;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  padding: 4px 8px;
  white-space: nowrap;
}

.angular-badge-sm {
  font-size: 14px;
  line-height: 18px;

  .mat-icon {
    font-size: 1.125rem;
    height: 1.125rem;
    width: 1.125rem;
  }

  .material-icons {
    font-size: 1.125rem;
    height: 1.125rem;
    width: 1.125rem;
  }

  .material-symbols-outlined {
    font-size: 1.125rem;
    height: 1.125rem;
    width: 1.125rem;
  }
}

.angular-badge-xs {
  font-size: 12px;
  line-height: 18px;

  .mat-icon {
    font-size: 1.125rem;
    height: 1.125rem;
    width: 1.125rem;
  }

  .material-icons {
    font-size: 1.125rem;
    height: 1.125rem;
    width: 1.125rem;
  }

  .material-symbols-outlined {
    font-size: 1.125rem;
    height: 1.125rem;
    width: 1.125rem;
  }
}

.angular-badge-round {
  border-radius: 50px;
}

.angular-badge-primary {
  @extend .angular-badge;
  color: white;
  background-color: var(--angular-primary);
  border: 1px solid var(--angular-primary);
}

.angular-badge-accent {
  @extend .angular-badge;
  color: white;
  background-color: var(--angular-accent);
  border: 1px solid var(--angular-accent);
}

.angular-badge-secondary {
  @extend .angular-badge;
  color: black;
  background-color: var(--angular-secondary);
  border: 1px solid var(--angular-secondary);
}

.angular-badge-info {
  @extend .angular-badge;
  color: white;
  background-color: var(--angular-info);
  border: 1px solid var(--angular-info);
}

.angular-badge-warning {
  @extend .angular-badge;
  color: white;
  background-color: var(--angular-warning);
  border: 1px solid var(--angular-warning);
}

.angular-badge-success {
  @extend .angular-badge;
  color: white;
  background-color: var(--angular-success);
  border: 1px solid var(--angular-success);
}

.angular-badge-danger {
  @extend .angular-badge;
  color: white;
  background-color: var(--angular-danger);
  border: 1px solid var(--angular-danger);
}

.angular-badge-outline-success {
  @extend .angular-badge;
  color: var(--angular-success);
  background-color: #{map.get(palette.$success-palette, 50)};
  border: 1px solid #{map.get(palette.$success-palette, 100)};
}

.angular-badge-outline-primary {
  @extend .angular-badge;
  color: var(--angular-primary);
  background-color: #{map.get(palette.$primary-palette, 50)};
  border: 1px solid #{map.get(palette.$primary-palette, 100)};
}

.angular-badge-outline-primary-2 {
  @extend .angular-badge;
  color: var(--angular-primary);
  background-color: #{map.get(palette.$secondary-palette, 50)};
  border: 1px solid var(--angular-primary);
}

.angular-badge-outline-accent {
  @extend .angular-badge;
  color: var(--angular-accent);
  background-color: #{map.get(palette.$accent-palette, 50)};
  border: 1px solid #{map.get(palette.$accent-palette, 100)};
}

.angular-badge-outline-secondary {
  @extend .angular-badge;
  color: var(--angular-secondary);
  background-color: #{map.get(palette.$secondary-palette, 50)};
  border: 1px solid #{map.get(palette.$secondary-palette, 100)};
}

.angular-badge-outline-info {
  @extend .angular-badge;
  color: var(--angular-info);
  background-color: #{map.get(palette.$info-palette, 50)};
  border: 1px solid #{map.get(palette.$info-palette, 100)};
}

.angular-badge-outline-warning {
  @extend .angular-badge;
  color: var(--angular-warning);
  background-color: #{map.get(palette.$warning-palette, 50)};
  border: 1px solid #{map.get(palette.$warning-palette, 100)};
}

.angular-badge-outline-success {
  @extend .angular-badge;
  color: var(--angular-success);
  background-color: #{map.get(palette.$success-palette, 50)};
  border: 1px solid #{map.get(palette.$success-palette, 100)};
}

.angular-badge-outline-danger {
  @extend .angular-badge;
  color: var(--angular-danger);
  background-color: #{map.get(palette.$danger-palette, 50)};
  border: 1px solid #{map.get(palette.$danger-palette, 100)};
}

.angular-h1,
.angular-h2,
.angular-h3,
.angular-h4,
.angular-h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--angular-heading-color);
}

.angular-h1 {
  font-size: 2.5rem;
}

.angular-h2 {
  font-size: 2rem;
}

.angular-h3 {
  font-size: 1.75rem;
}

.angular-h4 {
  font-size: 1.5rem;
}

.angular-h6 {
  font-size: 1rem;
}

.angular-m-0 {
  margin: 0px !important;
}

.angular-pr-0 {
  padding-right: 0px !important;
}

.angular-pl-0 {
  padding-left: 0px !important;
}

.angular-text-primary {
  color: var(--angular-primary) !important;
}

.angular-text-accent {
  color: var(--angular-accent) !important;
}

.angular-text-success {
  color: var(--angular-success) !important;
}

.angular-text-info {
  color: var(--angular-info) !important;
}

.angular-text-light {
  color: #9e9e9e;
}

.angular-text-gray {
  color: #757575;
}

.angular-text-dark {
  color: rgba(0, 0, 0, 0.541)
}

.angular-text-white {
  color: #fff !important;
}

.angular-text-warning {
  color: var(--angular-warning) !important;
}

.angular-text-warning-light {
  color: var(--angular-warning-light) !important;
}

.angular-border-light {
  border: 1px solid #ccc;
}

.angular-outline-primary-thick {
  outline: 3px solid var(--angular-primary);
}

.angular-border-left-light {
  border-left: 1px solid #ccc;
}

.angular-border-right-light {
  border-right: 1px solid #ccc;
}

.angular-border-top {
  border-top: 1px solid #9e9e9e;
}

.angular-border-right {
  border-right: 1px solid #9e9e9e;
}

.angular-border-bottom {
  border-bottom: 1px solid #9e9e9e;
}

.angular-border-left {
  border-left: 1px solid #9e9e9e;
}

.angular-curser-no-drop {
  cursor: no-drop !important;
}

.angular-overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.angular-mat-icon-5x {
  width: 125px !important;
  height: 125px !important;
  font-size: 125px !important;
}

.angular-mat-icon-4x {
  width: 100px !important;
  height: 100px !important;
  font-size: 100px !important;
}

.angular-mat-icon-3x {
  width: 75px !important;
  height: 75px !important;
  font-size: 75px !important;
}

.angular-mat-icon-2x {
  width: 50px !important;
  height: 50px !important;
  font-size: 50px !important;
}

.angular-mat-icon-sm {
  font-size: 18px;
  height: 18px;
  width: 18px;
}

.angular-mat-checkbox-primary {
  &.mat-mdc-checkbox-checked {
    .mdc-form-field {
      .mdc-checkbox {
        .mdc-checkbox__background {
          border-color: var(--angular-primary) !important;
          background-color: var(--angular-primary) !important;
        }

        &:hover {
          .mdc-checkbox__ripple {
            background-color: var(--angular-primary) !important;
          }
        }
      }
    }
  }
}

.angular-mat-checkbox-accent {
  &.mat-mdc-checkbox-checked {
    .mdc-form-field {
      .mdc-checkbox {
        .mdc-checkbox__background {
          border-color: var(--angular-accent) !important;
          background-color: var(--angular-accent) !important;
        }

        &:hover {
          .mdc-checkbox__ripple {
            background-color: var(--angular-accent) !important;
          }
        }
      }
    }
  }
}

.angular-mat-checkbox-secondary {
  &.mat-mdc-checkbox-checked {
    .mdc-form-field {
      .mdc-checkbox {
        .mdc-checkbox__background {
          border-color: var(--angular-secondary) !important;
          background-color: var(--angular-secondary) !important;
        }

        &:hover {
          .mdc-checkbox__ripple {
            background-color: var(--angular-secondary) !important;
          }
        }
      }
    }
  }
}

.angular-mat-checkbox-info {
  &.mat-mdc-checkbox-checked {
    .mdc-form-field {
      .mdc-checkbox {
        .mdc-checkbox__background {
          border-color: var(--angular-info) !important;
          background-color: var(--angular-info) !important;
        }

        &:hover {
          .mdc-checkbox__ripple {
            background-color: var(--angular-info) !important;
          }
        }
      }
    }
  }
}

.angular-mat-checkbox-warning {
  &.mat-mdc-checkbox-checked {
    .mdc-form-field {
      .mdc-checkbox {
        .mdc-checkbox__background {
          border-color: var(--angular-warning) !important;
          background-color: var(--angular-warning) !important;
        }

        &:hover {
          .mdc-checkbox__ripple {
            background-color: var(--angular-warning) !important;
          }
        }
      }
    }
  }
}

.angular-mat-checkbox-success {
  &.mat-mdc-checkbox-checked {
    .mdc-form-field {
      .mdc-checkbox {
        .mdc-checkbox__background {
          border-color: var(--angular-success) !important;
          background-color: var(--angular-success) !important;
        }

        &:hover {
          .mdc-checkbox__ripple {
            background-color: var(--angular-success) !important;
          }
        }
      }
    }
  }
}

.angular-mat-checkbox-danger {
  &.mat-mdc-checkbox-checked {
    .mdc-form-field {
      .mdc-checkbox {
        .mdc-checkbox__background {
          border-color: var(--angular-danger) !important;
          background-color: var(--angular-danger) !important;
        }

        &:hover {
          .mdc-checkbox__ripple {
            background-color: var(--angular-danger) !important;
          }
        }
      }
    }
  }
}

.angular-mat-radio-group-primary {
  .mat-mdc-radio-button.mat-mdc-radio-checked .mdc-radio__background::before {
    background-color: var(--angular-primary);
  }

  .mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle {
    border-color: var(--angular-primary);
  }

  .mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled+.mdc-radio__background .mdc-radio__inner-circle {
    border-color: var(--angular-primary);
  }

  .mat-mdc-radio-button .mdc-radio:hover .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle {
    border-color: var(--angular-primary);
  }

  .mat-mdc-radio-button .mdc-radio:hover .mdc-radio__native-control:enabled+.mdc-radio__background .mdc-radio__inner-circle {
    border-color: var(--angular-primary);
  }

  .mat-mdc-radio-button .mdc-radio:not(:disabled):active .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle {
    border-color: var(--angular-primary);
  }

  .mat-mdc-radio-button .mdc-radio:not(:disabled):active .mdc-radio__native-control:enabled+.mdc-radio__background .mdc-radio__inner-circle {
    border-color: var(--angular-primary);
  }
}

.angular-mat-radio-group-accent {
  .mat-mdc-radio-button.mat-mdc-radio-checked .mdc-radio__background::before {
    background-color: var(--angular-accent);
  }

  .mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle {
    border-color: var(--angular-accent);
  }

  .mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled+.mdc-radio__background .mdc-radio__inner-circle {
    border-color: var(--angular-accent);
  }

  .mat-mdc-radio-button .mdc-radio:hover .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle {
    border-color: var(--angular-accent);
  }

  .mat-mdc-radio-button .mdc-radio:hover .mdc-radio__native-control:enabled+.mdc-radio__background .mdc-radio__inner-circle {
    border-color: var(--angular-accent);
  }

  .mat-mdc-radio-button .mdc-radio:not(:disabled):active .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle {
    border-color: var(--angular-accent);
  }

  .mat-mdc-radio-button .mdc-radio:not(:disabled):active .mdc-radio__native-control:enabled+.mdc-radio__background .mdc-radio__inner-circle {
    border-color: var(--angular-accent);
  }
}

.angular-mat-radio-group-secondary {
  .mat-mdc-radio-button.mat-mdc-radio-checked .mdc-radio__background::before {
    background-color: var(--angular-secondary);
  }

  .mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle {
    border-color: var(--angular-secondary);
  }

  .mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled+.mdc-radio__background .mdc-radio__inner-circle {
    border-color: var(--angular-secondary);
  }

  .mat-mdc-radio-button .mdc-radio:hover .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle {
    border-color: var(--angular-secondary);
  }

  .mat-mdc-radio-button .mdc-radio:hover .mdc-radio__native-control:enabled+.mdc-radio__background .mdc-radio__inner-circle {
    border-color: var(--angular-secondary);
  }

  .mat-mdc-radio-button .mdc-radio:not(:disabled):active .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle {
    border-color: var(--angular-secondary);
  }

  .mat-mdc-radio-button .mdc-radio:not(:disabled):active .mdc-radio__native-control:enabled+.mdc-radio__background .mdc-radio__inner-circle {
    border-color: var(--angular-secondary);
  }
}

.angular-mat-radio-group-info {
  .mat-mdc-radio-button.mat-mdc-radio-checked .mdc-radio__background::before {
    background-color: var(--angular-info);
  }

  .mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle {
    border-color: var(--angular-info);
  }

  .mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled+.mdc-radio__background .mdc-radio__inner-circle {
    border-color: var(--angular-info);
  }

  .mat-mdc-radio-button .mdc-radio:hover .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle {
    border-color: var(--angular-info);
  }

  .mat-mdc-radio-button .mdc-radio:hover .mdc-radio__native-control:enabled+.mdc-radio__background .mdc-radio__inner-circle {
    border-color: var(--angular-info);
  }

  .mat-mdc-radio-button .mdc-radio:not(:disabled):active .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle {
    border-color: var(--angular-info);
  }

  .mat-mdc-radio-button .mdc-radio:not(:disabled):active .mdc-radio__native-control:enabled+.mdc-radio__background .mdc-radio__inner-circle {
    border-color: var(--angular-info);
  }
}

.angular-mat-radio-group-warning {
  .mat-mdc-radio-button.mat-mdc-radio-checked .mdc-radio__background::before {
    background-color: var(--angular-warning);
  }

  .mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle {
    border-color: var(--angular-warning);
  }

  .mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled+.mdc-radio__background .mdc-radio__inner-circle {
    border-color: var(--angular-warning);
  }

  .mat-mdc-radio-button .mdc-radio:hover .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle {
    border-color: var(--angular-warning);
  }

  .mat-mdc-radio-button .mdc-radio:hover .mdc-radio__native-control:enabled+.mdc-radio__background .mdc-radio__inner-circle {
    border-color: var(--angular-warning);
  }

  .mat-mdc-radio-button .mdc-radio:not(:disabled):active .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle {
    border-color: var(--angular-warning);
  }

  .mat-mdc-radio-button .mdc-radio:not(:disabled):active .mdc-radio__native-control:enabled+.mdc-radio__background .mdc-radio__inner-circle {
    border-color: var(--angular-warning);
  }
}

// .angular-mat-radio-group-warning{
//   .mat-mdc-radio-button{
//     .mdc-form-field{
//       .mdc-radio{
//         .mdc-radio__background{
//           &::before {
//             background-color: var(--angular-warning) !important;
//           }
//           .mdc-radio__outer-circle {
//             border-color: var(--angular-warning) !important;
//           }
//           .mdc-radio__inner-circle {
//             border-color: var(--angular-warning) !important;
//           }
//         }
//       }
//     }
//   }
// }

.angular-mat-radio-group-success {
  .mat-mdc-radio-button.mat-mdc-radio-checked .mdc-radio__background::before {
    background-color: var(--angular-success);
  }

  .mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle {
    border-color: var(--angular-success);
  }

  .mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled+.mdc-radio__background .mdc-radio__inner-circle {
    border-color: var(--angular-success);
  }

  .mat-mdc-radio-button .mdc-radio:hover .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle {
    border-color: var(--angular-success);
  }

  .mat-mdc-radio-button .mdc-radio:hover .mdc-radio__native-control:enabled+.mdc-radio__background .mdc-radio__inner-circle {
    border-color: var(--angular-success);
  }

  .mat-mdc-radio-button .mdc-radio:not(:disabled):active .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle {
    border-color: var(--angular-success);
  }

  .mat-mdc-radio-button .mdc-radio:not(:disabled):active .mdc-radio__native-control:enabled+.mdc-radio__background .mdc-radio__inner-circle {
    border-color: var(--angular-success);
  }
}

.angular-mat-radio-group-danger {
  .mat-mdc-radio-button.mat-mdc-radio-checked .mdc-radio__background::before {
    background-color: var(--angular-danger);
  }

  .mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle {
    border-color: var(--angular-danger);
  }

  .mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled+.mdc-radio__background .mdc-radio__inner-circle {
    border-color: var(--angular-danger);
  }

  .mat-mdc-radio-button .mdc-radio:hover .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle {
    border-color: var(--angular-danger);
  }

  .mat-mdc-radio-button .mdc-radio:hover .mdc-radio__native-control:enabled+.mdc-radio__background .mdc-radio__inner-circle {
    border-color: var(--angular-danger);
  }

  .mat-mdc-radio-button .mdc-radio:not(:disabled):active .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle {
    border-color: var(--angular-danger);
  }

  .mat-mdc-radio-button .mdc-radio:not(:disabled):active .mdc-radio__native-control:enabled+.mdc-radio__background .mdc-radio__inner-circle {
    border-color: var(--angular-danger);
  }
}

.angular-mat-tab-group {
  background-color: white;
  box-shadow: 0px 2px 6px -1px #9E9E9E;
  border-radius: 5px;

  mat-tab-header {
    box-shadow: 0px 2px 4px -1px #9E9E9E;
    border-radius: 5px 5px 0px 0px;
  }

  mat-tab-body {
    padding: 15px;
  }
}

.angular-mat-tab-group-2 {
  mat-tab-header {
    border-bottom: 1px solid #EEEEEE;
    // box-shadow: 0px 2px 4px -1px #9E9E9E;
    // border-radius: 5px 5px 0px 0px;
  }

  mat-tab-body {
    .mat-mdc-tab-body-content {
      padding: 15px;
    }
  }
}

.angular-mat-tab-body-p-0 {
  .mat-mdc-tab-body-wrapper {
    .mat-mdc-tab-body {
      padding: 0px !important;
    }
  }
}

.angular-mat-tab-body-wrapper-p-0 {
  .mat-mdc-tab-body-wrapper {
    padding: 0px !important;
  }
}

.angular-mat-stepper {
  background-color: white;
  box-shadow: 0px 2px 6px -1px #9E9E9E;
  border-radius: 5px;

  .mat-horizontal-stepper-header-container {
    box-shadow: 0px 2px 4px -1px #9E9E9E;
    border-radius: 5px 5px 0px 0px;
  }

  .mat-horizontal-content-container {
    padding: 15px;
  }

  .mat-vertical-content {
    padding-top: 15px;
  }
}

.angular-report-table {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  width: 100%;
  border-collapse: separate; // Ensures that borders are not collapsed
  border-spacing: 0; // Removes the spacing between borders

  thead {
    tr {
      th {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        text-align: left;
        padding: 14px 10px;
        vertical-align: top !important;
        font-size: 14px;
        font-weight: 500;
        // line-height: 20px;
        color: rgba(0, 0, 0, 0.87);
        border-right: 1px solid rgba(0, 0, 0, 0.12);
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        background-color: #FFFFFF; // Adjust if you have a specific header background color

        &:last-child {
          border-right: none; // Removes the right border from the last th in each row
        }
      }

      // .th {
      //   line-height: 20px !important;
      // }
      &:first-child th {
        font-size: 28px;
        font-weight: 600;
        text-align: center;
      }

      &.col-header th {
        font-size: 16px;
      }
    }
  }

  tbody {
    tr {

      // Apply similar styles to th elements inside tbody
      th,
      td {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        text-align: left;
        padding: 14px 10px;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.87);
        border-right: 1px solid rgba(0, 0, 0, 0.12);
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);

        &:last-child {
          border-right: none; // Removes the right border from the last cell in each row
        }
      }

      // Fix for the bottom border on the last row of tbody
      &:last-child th,
      &:last-child td {
        border-bottom: none;
      }

      // Alternate row background color
      &:nth-child(odd) {

        th,
        td {
          background-color: #f9f9f9; // Use a light grey for the background color
        }
      }
    }
  }

  // Add a border around the entire table if desired
  border: 1px solid rgba(0, 0, 0, 0.12);
}



.angular-mat-sidenav-container-details {
  .angular-mat-sidenav-content-details {
    background-color: white;
  }

  .mat-drawer-backdrop {
    position: fixed;
  }

  .angular-mat-sidenav-details {
    width: 40%;
  }
}

.angular-mat-sidenav-container-info {
  .angular-mat-sidenav-content-info {
    background-color: white;
  }

  .mat-drawer-backdrop {
    position: fixed;
  }

  .angular-mat-sidenav-info {
    width: 215px;
    height: calc(100% - 64px);
    top: 64px;
    box-shadow: unset;
    border-left: 1px solid #9e9e9e;
    border-right: 1px solid #9e9e9e;
  }
}

.angular-timeline-list {
  display: flex;
  flex-direction: column;
  margin-left: 10px;

  .angular-timeline-list-item {
    border-left: 2px solid #e0e0e0;
    position: relative;
    padding-left: 35px;
    padding-bottom: 15px;

    &:last-child {
      border-width: 0px !important;
    }
  }

  .angular-timeline-icon {
    position: absolute;
    left: -12px;
    top: 0px;
    background-color: white;
    color: var(--angular-primary);
  }

  .angular-timeline-body {
    display: flex;
    flex-direction: column;

    .angular-timeline-title {
      font-weight: 500;
      margin-bottom: 0px !important;
    }

    .angular-timeline-description {
      display: flex;
      align-items: center;
      gap: 5px;

      .mat-icon {
        color: #757575;
        font-size: 20px;
        width: 20px !important;
        height: 20px !important;
      }
    }
  }
}

.angular-page-stepper {
  position: relative;

  .angular-page-title {
    position: absolute !important;
    top: 35px !important;
  }

  .angular-mat-stepper-for-page {
    .mat-horizontal-stepper-wrapper {
      .mat-horizontal-stepper-header-container {
        position: absolute;
        right: 0;

        .mat-step-header {
          padding: 0 10px !important;

          .mat-step-label {
            min-width: 30px !important;
          }
        }

        .mat-stepper-horizontal-line {
          margin: 0px !important;
          min-width: 40px !important;
        }
      }

      .mat-horizontal-content-container {
        padding: 80px 0px 24px 0px !important;
      }
    }
  }
}

.angular-container {
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}

.angular-section {
  padding: 20px;
  border: 1px solid #9e9e9e;
  border-radius: 5px;
  margin-bottom: 15px;
}

.angular-section-2 {
  @extend .angular-section;
  border: 2px solid #ebebeb;
}

.angular-section-checked {
  border-color: var(--angular-primary);
}

.angular-label {
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;

  .mat-icon {
    @extend .angular-text-light;
    cursor: pointer !important;
  }
}

.angular-details {
  h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 8px;
  }

  h6 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
  }

  p {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 500;
    margin-bottom: 8px;

    .mat-icon {
      color: #757575;
      min-width: 24px;
      min-height: 24px;
    }

    .material-symbols-outlined {
      color: #757575;
      min-width: 24px;
      min-height: 24px;
    }
  }
}

.angular-item-card-details {
  h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 8px;
  }

  h6 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
  }

  p {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 500;
    margin-bottom: 8px;

    .mat-icon {
      color: #757575;
      min-width: 16px;
      min-height: 16px;
      font-size: 16px;
    }

    .material-symbols-outlined {
      color: #757575;
      min-width: 16px;
      min-height: 16px;
      font-size: 16px;
    }
  }
}

.angular-mat-form-field-suffix {
  .mat-mdc-text-field-wrapper {
    .mat-mdc-form-field-flex {
      .mat-mdc-form-field-icon-suffix {
        margin-left: 10px;
        padding: 10px;
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.angular-mat-form-field-suffix-bordered {
  .mat-mdc-text-field-wrapper {
    .mat-mdc-form-field-flex {
      .mat-mdc-form-field-icon-suffix {
        border-left: 1px solid #9e9e9e;
        margin-left: 10px;
        padding: 10px;
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.angular-w-100 {
  width: 100%;
}

.angular-vertical-radio-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .angular-mat-radio-button {
    width: 100%;
  }
}

.angular-horizontal-radio-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  // .angular-mat-radio-button {
  //   width: 100%;
  // }
}

.angular-list-item {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .angular-list-title {
    display: flex;
    flex-direction: column;

    .angular-list-description {
      font-size: 12px;
      color: #9e9e9e;
      white-space: break-spaces;
    }
  }

  .angular-list-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #{map.get(palette.$primary-palette, 50)};
    display: flex;
    align-items: center;
    justify-content: center;

    .mat-icon {
      font-size: 34px;
      width: 34px;
      height: 34px;
    }
  }
}

.angular-radio-group-outline {
  gap: 15px;

  .angular-mat-radio-button {
    border: 1px solid #9e9e9e;
    border-radius: 5px;
    padding: 15px;
    padding-left: 5px;

    .mdc-form-field {
      width: 100%;

      .mdc-label {
        width: 100%;
      }
    }

    &.mat-mdc-radio-checked {
      .angular-list-title {
        .angular-list-description {
          color: unset;
        }
      }
    }
  }
}

.angular-radio-group-outline {
  .angular-mat-radio-button.mat-primary {
    &.mat-mdc-radio-checked {
      border: 1px solid var(--angular-primary);

      .angular-list-icon {
        .mat-icon {
          color: var(--angular-primary);
        }
      }
    }
  }
}

.angular-radio-group-outline {
  .angular-mat-radio-button.mat-accent {
    &.mat-mdc-radio-checked {
      border: 1px solid var(--angular-accent);

      .angular-list-icon {
        .mat-icon {
          color: var(--angular-accent);
        }
      }
    }
  }
}

.angular-radio-group-outline {
  .angular-mat-radio-button.mat-warn {
    &.mat-mdc-radio-checked {
      border: 1px solid var(--angular-error);

      .angular-list-icon {
        .mat-icon {
          color: var(--angular-error);
        }
      }
    }
  }
}

.angular-justify-content-start {
  justify-content: start;
}

.angular-justify-content-end {
  justify-content: end;
}

.angular-justify-content-between {
  justify-content: space-between;
}

.angular-mat-expansion-panel {
  border: 1px solid #9e9e9e;
  border-bottom-width: 0px; // temporary
  margin-bottom: 15px !important;
  box-shadow: unset !important;

  &:last-child {
    border-bottom-width: 1px !important;
  }

  &:last-of-type {
    border-bottom-width: 1px !important;
  }

  .mat-expansion-panel-header {
    height: unset;
    padding: 20px;
    font-size: 16px;

    mat-panel-description {
      justify-content: space-between !important;
    }

    .mat-expansion-indicator::after {
      color: #9e9e9e;
      border-color: #9e9e9e;
    }
  }
}

.angular-mat-expansion-panel-2 {
  // border: 1px solid #9e9e9e;
  margin-bottom: 15px !important;
  box-shadow: unset !important;

  &.mat-expanded {
    .mat-expansion-panel-header {
      .mat-expansion-indicator::after {
        margin-bottom: 10px;
      }
    }
  }

  .mat-expansion-panel-header {
    display: inline-flex !important;

    &:hover {
      background: unset !important;
    }

    height: 35px;
    padding: 0px;
    font-size: 16px;

    &.mat-expanded {
      height: 35px;
    }

    .mat-content {
      flex: unset;
    }

    mat-panel-description {
      justify-content: space-between !important;
    }

    .mat-expansion-indicator::after {
      color: #9e9e9e;
      border-color: #9e9e9e;
    }
  }

  .mat-expansion-panel-content {
    .mat-expansion-panel-body {
      padding: 10px 0px !important;
    }
  }
}

.angular-tab-group {
  mat-tab-header {
    .mat-mdc-tab-label-container {
      .mat-mdc-tab-list {
        .mat-mdc-tab-labels {
          .mdc-tab {
            flex-grow: 0;
          }
        }
      }
    }
  }

  .mat-mdc-tab-body-wrapper {
    padding-top: 15px;

    mat-tab-body {
      overflow: hidden;

      .mat-mdc-tab-body-content {
        overflow: hidden;
      }
    }
  }
}

.angular-tab-group-2 {
  mat-tab-header {
    border-bottom: 1px solid #9e9e9e;

    .mat-mdc-tab-label-container {
      .mat-mdc-tab-list {
        .mat-mdc-tab-labels {
          .mdc-tab {
            flex-grow: 0;
          }
        }
      }
    }
  }

  .mat-mdc-tab-body-wrapper {
    padding-top: 15px;
  }
}

.angular-tab-container-mn-h-65-vh {
  .mat-mdc-tab-body-wrapper {
    min-height: 65vh;
  }
}

.angular-info-section {
  border: 1px solid #9e9e9e;
  border-radius: 15px;
  margin-bottom: 15px;

  .angular-info-card {
    border-left: 1px solid #9e9e9e;
    display: flex;
    justify-content: space-between;
    padding: 15px;

    .angular-info-card-body {
      display: flex;
      gap: 15px;

      .mat-icon {
        color: var(--angular-primary);
      }

      .angular-list-item {
        align-items: baseline;
      }
    }

    .angular-info-card-expend {
      .angular-info-card-expander {
        color: var(--angular-accent);
        background-color: #{map.get(palette.$accent-palette, 50)};
        border: 1px solid #{map.get(palette.$accent-palette, 100)};
        border-radius: 20px;
        min-width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        .angular-info-card-expander-description {
          display: none;
          padding-top: 1px;
          padding-left: 8px;
        }

        &:hover {
          .angular-info-card-expander-description {
            display: unset;
          }
        }
      }
    }

    &:first-child {
      border-left: 0px solid #9e9e9e !important;
    }
  }
}

.angular-mat-sidenav-details {
  .angular-mat-sidenav-header {
    display: flex;
    justify-content: space-between;
    background-color: #e0e0e0;
    padding: 15px;

    .angular-mat-sidenav-title {
      font-weight: 500;
      font-size: 20px;
    }

    .angular-mat-sidenav-close {
      cursor: pointer;
    }
  }

  .angular-mat-sidenav-body {
    padding: 15px;
  }
}

.angular-mat-sidenav-info {
  .angular-mat-sidenav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);

    .angular-mat-sidenav-title {
      font-weight: 500;
      font-size: 18px;
    }

    .angular-mat-sidenav-close {
      cursor: pointer;
    }
  }

  .angular-mat-sidenav-body {
    padding: 15px;

    .angular-learn-more {
      display: flex;
      align-items: center;
      gap: 10px;
      border-top: 1px solid rgba(0, 0, 0, 0.12);
      padding-top: 15px;
      margin-top: 15px;
      font-weight: 500;

      .mat-icon {
        cursor: pointer;
        width: 16px;
        height: 16px;
        font-size: 16px;
      }
    }
  }
}



.angular-expansion-icon {
  width: 15px !important;
  height: 15px !important;
  font-size: 20px !important;
}

.angular-mat-menu {
  .mat-mdc-menu-content {
    padding: 0px !important;

    .mat-mdc-menu-item {
      color: #757575 !important;

      .mat-icon {
        color: #757575 !important;

        &.delete:hover {
          color: var(--angular-danger) !important;
        }

        &.edit:hover {
          color: var(--angular-primary) !important;
        }
      }
    }

    .active {
      color: var(--angular-primary) !important;

      .mat-icon {
        color: var(--angular-primary) !important;
        margin-right: 5px !important;
      }
    }
  }
}

.angular-details-dialog {
  mat-dialog-container {
    .mat-mdc-dialog-title {
      padding: 8px 16px;
      background-color: #e0e0e0;
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;

      &::before {
        content: unset;
      }
    }

    .mat-mdc-dialog-actions {
      justify-content: space-between;
    }
  }
}

.angular-filter-dialog {
  mat-dialog-container {
    .mat-mdc-dialog-title {
      padding: 8px 16px;
      background-color: #e0e0e0;
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;

      &::before {
        content: unset;
      }
    }

    .mat-mdc-dialog-actions {
      justify-content: space-between;
    }
  }
}

.angular-add-dialog {
  justify-content: center !important;

  mat-dialog-container {
    .mat-mdc-dialog-title {
      padding: 8px 16px;
      background-color: #e0e0e0;
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;

      &::before {
        content: unset;
      }
    }

    .mdc-dialog__content {
      padding: 20px 24px 20px 24px !important;
    }


    .mat-mdc-dialog-actions {
      justify-content: space-between;
    }
  }
}

.angular-labels-and-colors {
  mat-dialog-container {
    .mdc-dialog__container {
      .mat-mdc-dialog-surface {
        padding: 0px 8px;
      }
    }

    // .mat-mdc-dialog-title {
    //   padding: 8px 16px;
    //   display: flex;
    //   gap: 10px;
    //   justify-content: start;
    //   width: 100%;
    //   align-items: center;

    //   &::before {
    //     content: unset;
    //   }
    // }

    // .mat-mdc-dialog-content {
    //   padding-top: 15px;
    //   font-size: 14px;
    // }

    .mat-mdc-dialog-actions {
      padding: 6px 0px;
    }
  }
}

.angular-date-picker-dialog {
  mat-dialog-container {
    .mat-mdc-dialog-title {
      padding: 8px 16px;
      background-color: #e0e0e0;
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;

      &::before {
        content: unset;
      }
    }
  }
}

.angular-badge-expander {
  color: var(--angular-accent);
  background-color: #{map.get(palette.$accent-palette, 50)};
  border: 1px solid #{map.get(palette.$accent-palette, 100)};
  border-radius: 20px;
  min-width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .angular-badge-expander-description {
    display: unset;
    padding-top: 1px;
    padding-left: 8px;
  }

  .angular-badge-expander-description-hover {
    @extend .angular-badge-expander-description;
    display: none;
  }

  &:hover {
    .angular-badge-expander-description-hover {
      display: unset;
    }
  }
}

.expand-more-icon {
  margin-left: 5px;
  margin-right: 2px;
}

.angular-import-excel-dialog {
  mat-dialog-container {
    .mat-mdc-dialog-title {
      padding: 16px 16px;
      background-color: #e0e0e0;
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;

      &::before {
        content: unset;
      }
    }

    .mat-mdc-dialog-content {
      padding: 20px 24px !important;
    }

    .mat-mdc-dialog-actions {
      padding: 24px 24px;
      padding-top: 10px;
      justify-content: space-between;
    }
  }
}

.shine {
  background: #f6f7f8;
  background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
  background-repeat: no-repeat;
  background-size: 800px 150px;
  // display: inline-block;
  position: relative;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeholderShimmer;
  animation-timing-function: linear;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeholderShimmer;
  -webkit-animation-timing-function: linear;
}

@keyframes placeholderShimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}


.angular-mat-card {
  background-color: #fff !important;
  box-shadow: 0 2px 6px -1px #9e9e9e !important;
  border-radius: 5px !important;
  margin: 1px;

  .mat-mdc-card-header {
    display: flex;
    padding: 16px 16px;
    background-color: #E0E0E0;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
  }

  .mat-mdc-card-actions {
    border-top: 1px solid #e5e7eb !important;
    padding: 16px !important;
  }
}

.angular-mat-card-bordered {
  background-color: #fff !important;
  box-shadow: unset !important;
  border-radius: 5px !important;
  margin: 0px;
  border: 1px solid #e5e7eb !important;
}

.angular-process-item-card {
  .mat-mdc-card-header {
    padding: 8px;
    background-color: #C8E6C9;

    mat-card-title {
      font-size: 14px !important;
    }
  }

  .angular-details {
    margin-bottom: 15px;

    h6 {
      margin: 0px !important;
    }

    small {
      color: #3c3c4399;
      font-size: 12px !important;
    }

    p {
      margin: 0px !important;
      font-size: 16px !important;
    }
  }
}

.angular-qr-code-section {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;

  .angular-qr-code {
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
    padding: 2px;

    canvas {
      width: 100% !important;
      max-width: 180px !important;
      height: unset !important;
    }
  }

  .download-section {
    display: none;
  }

  &:hover {
    .download-section {
      display: flex !important;
    }
  }
}

.divider {
  height: 1px;
  background: rgba(0, 0, 0, 0.12);
}

.main-container {
  height: 100%;
  font-family: var(--font-family);
  position: relative;
}

.angular-mat-progress-bar {
  --mdc-linear-progress-active-indicator-color: #38E078;
  --mdc-linear-progress-track-color: #E0E0E0;
  --mdc-linear-progress-active-indicator-height: 8px;
  --mdc-linear-progress-track-height: 8px;
  // --mdc-linear-progress-active-indicator-shape: 4px;
  // --mdc-linear-progress-track-shape: 4px;
}

.on-hover-container {
  .on-hover {
    display: none;
  }

  &:hover {
    .on-hover {
      display: flex;
    }
  }
}

.screen-size-msg {
  display: none;
}

.color-box {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  cursor: pointer;
  color: var(--div-color);
  background-color: var(--div-bg-color);

  &:hover {
    background-color: var(--div-hover-bg-color);
  }
}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .profile-btn {
    min-width: 43px !important;

    img {
      margin: 0px !important;
    }

    .mat-icon {
      margin: 0px !important;
    }

    .profile-info {
      display: none !important;
    }
  }

  .screen-size-msg {
    display: block;
  }

  .angular-page-stepper {
    position: relative;

    .angular-page-title {
      position: unset !important;
      top: unset !important;
      margin-bottom: 0px !important;
    }

    .angular-mat-stepper-for-page {
      .mat-horizontal-stepper-wrapper {
        .mat-horizontal-stepper-header-container {
          width: 100% !important;
        }
      }
    }
  }

  .xs-border-left {
    border-left: 1px solid #9e9e9e !important;
  }

  .md-border-right-0 {
    border-right: unset !important;
  }

  .md-border-bottom {
    border-bottom: 1px solid #9e9e9e !important;
  }

  .md-w-full {
    width: 100% !important;
  }

  .angular-info-section {
    .angular-info-card {
      border-left: 0px solid #9e9e9e;
      border-bottom: 1px solid #9e9e9e;
      padding: 8px !important;

      &:first-child {
        border-left: 0px solid #9e9e9e !important;
      }

      &:last-child {
        border-bottom: 0px solid #9e9e9e !important;
      }
    }
  }

  .md-w-100-per {
    width: 100% !important;
  }

  .md-w-400-px {
    width: 400px !important;
  }

  .sm-mx-w-94-per {
    max-width: 94%;
  }

  .angular-section {
    padding: 10px !important;
  }

  .angular-section-2 {
    padding: 10px !important;
  }

  .angular-mat-sidenav-container-info {
    .angular-mat-sidenav-info {
      width: 312px !important;
      height: calc(100% - 56px) !important;
      top: 56px !important;
    }
  }

  .angular-mat-expansion-panel {
    .mat-expansion-panel-header {
      padding: 10px !important;

      &.mat-expanded {
        height: 50px !important;
        margin-bottom: 10px;
      }
    }

    .mat-expansion-panel-content {
      .mat-expansion-panel-body {
        padding: 0 10px 10px !important;
      }
    }
  }

  .sm-fs-18 {
    font-size: 18px !important;
  }

  .xs-col-span-12 {
    grid-column: span 12 / span 12;
  }

  .xs-items-start {
    align-items: start !important;
  }

  .sm-items-start {
    align-items: start !important;
  }

  .sm-border-width-0 {
    border-width: 0px !important;
  }

  .logo-img {
    height: 20px !important;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  .profile-btn {
    min-width: 43px !important;

    img {
      margin: 0px !important;
    }

    .mat-icon {
      margin: 0px !important;
    }

    .profile-info {
      display: none !important;
    }
  }

  .screen-size-msg {
    display: block;
  }

  .angular-page-stepper {
    position: relative;

    .angular-page-title {
      position: unset !important;
      top: unset !important;
      margin-bottom: 0px !important;
    }

    .angular-mat-stepper-for-page {
      .mat-horizontal-stepper-wrapper {
        .mat-horizontal-stepper-header-container {
          width: 100% !important;
        }
      }
    }
  }

  .md-border-right-0 {
    border-right: unset !important;
  }

  .md-border-bottom {
    border-bottom: 1px solid #9e9e9e !important;
  }

  .md-w-full {
    width: 100% !important;
  }

  .sm-border-left {
    border-left: 1px solid #9e9e9e !important;
  }

  .angular-info-section {
    .angular-info-card {
      border-left: 0px solid #9e9e9e;
      border-bottom: 1px solid #9e9e9e;
      padding: 8px !important;

      &:first-child {
        border-left: 0px solid #9e9e9e !important;
      }

      &:last-child {
        border-bottom: 0px solid #9e9e9e !important;
      }
    }
  }

  .md-w-100-per {
    width: 100% !important;
  }

  .md-w-400-px {
    width: 400px !important;
  }

  .sm-mx-w-94-per {
    max-width: 94%;
  }

  .angular-section {
    padding: 10px !important;
  }

  .angular-section-2 {
    padding: 10px !important;
  }

  .angular-mat-sidenav-container-info {
    .angular-mat-sidenav-info {
      width: 312px !important;
      height: calc(100% - 56px) !important;
      top: 56px !important;
    }
  }

  .angular-mat-expansion-panel {
    .mat-expansion-panel-header {
      padding: 10px !important;

      &.mat-expanded {
        height: 50px !important;
        margin-bottom: 10px;
      }
    }

    .mat-expansion-panel-content {
      .mat-expansion-panel-body {
        padding: 0 10px 10px !important;
      }
    }
  }

  .sm-fs-18 {
    font-size: 18px !important;
  }

  .sm-items-start {
    align-items: start !important;
  }

  .sm-border-width-0 {
    border-width: 0px !important;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  .screen-size-msg {
    display: block;
  }

  .angular-page-stepper {
    position: relative;

    .angular-page-title {
      position: unset !important;
      top: unset !important;
      margin-bottom: 0px !important;
    }

    .angular-mat-stepper-for-page {
      .mat-horizontal-stepper-wrapper {
        .mat-horizontal-stepper-header-container {
          width: 100% !important;
        }
      }
    }
  }

  .md-border-right-0 {
    border-right: unset !important;
  }

  .md-border-bottom {
    border-bottom: 1px solid #9e9e9e !important;
  }

  .md-w-full {
    width: 100% !important;
  }

  .md-border-left {
    border-left: 1px solid #9e9e9e !important;
  }

  .angular-info-section {
    .angular-info-card {
      border-left: 0px solid #9e9e9e;
      border-bottom: 1px solid #9e9e9e;

      &:first-child {
        border-left: 0px solid #9e9e9e !important;
      }

      &:last-child {
        border-bottom: 0px solid #9e9e9e !important;
      }
    }
  }

  .md-w-100-per {
    width: 100% !important;
  }

  .md-w-400-px {
    width: 400px !important;
  }

  .angular-section {
    padding: 15px !important;
  }

  .angular-section-2 {
    padding: 15px !important;
  }

  .angular-mat-sidenav-container-info {
    .angular-mat-sidenav-info {
      width: 312px !important;
      top: 64px !important;
    }
  }

  .angular-mat-expansion-panel {
    .mat-expansion-panel-header {
      padding: 15px !important;
    }

    .mat-expansion-panel-content {
      .mat-expansion-panel-body {
        padding: 0 15px 15px !important;
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  .lg-w-70-per {
    width: 70% !important;
  }

  .angular-mat-sidenav-container-info {
    .angular-mat-sidenav-info {
      top: 64px !important;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .lg-w-70-per {
    width: 70% !important;
  }

  .angular-mat-sidenav-container-info {
    .angular-mat-sidenav-info {
      top: 64px !important;
    }
  }
}

// Extra Extra large devices (large desktops, 1400px and up)
@media (min-width: 1400px) and (max-width: 1599.98px) {
  .lg-w-70-per {
    width: 70% !important;
  }

  .angular-mat-sidenav-container-info {
    .angular-mat-sidenav-info {
      top: 64px !important;
    }
  }
}

// Extra Extra Extra large devices (large desktops, 1600px and up)
@media (min-width: 1600px) {
  .lg-w-70-per {
    width: 70% !important;
  }

  .angular-mat-sidenav-container-info {
    .angular-mat-sidenav-info {
      top: 64px !important;
    }
  }
}